	#szechenyi2020 {
		background-image: url("../images/szechenyi_2020_logo_fekvo_color_gradient_CMYK.jpg");
		background-size: contain;
		background-position: center, left;
		background-repeat: no-repeat, repeat;
		width: 300px;
		height: 100px;
	}

	#esza {
		background-image: url("../images/infoblokk_kedv_final_felso_cmyk_ESZA.jpg");
		background-size: contain;
		background-position: center, center;
		background-repeat: no-repeat, repeat;
		float: right;
		width: 300px;
		height: 200px;
	}	
	
    #image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        width:100%;
    }
    #choiceTree{
        all:none;
        margin-left: 42%;
        text-align: left;
        position: relative;
        width: 100%;

        position: relative;
    }
    #btn-submit{
        all:none;
        position: relative;
        margin-left: 44%;
    }
    #subbut{
        width: 100%;
        text-align: center;
    }
    label{
        height: 30px;
        margin-left: 37%;
    }

#RGB {
    height: 20px;
    background: rgb(128, 128, 128);
}
#RC .slider-selection {
    background: #FF8282;
}
#RC .slider-handle {
    background: red;
}
#GC .slider-selection {
    background: #428041;
}
#GC .slider-handle {
    background: green;
}
#BC .slider-selection {
    background: #8283FF;
}
#BC .slider-handle {
    border-bottom-color: blue;
}
#R, #G, #B {
    width: 300px;
}