  #image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        width:100%;
    }

    .fl{
        float: left;
    }
    #btn-back{
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    header{
        margin-left: 100px;
        margin-right: 165px;
    }
    .hidden{
        visibility: hidden;
    }
    .shown{
        visibility: visible;
    }

    .plane {
        margin-left: 6%;
        float: left;
    }
    
    label{
        height: 30px;
    }
    .nums{
        width: 100px;
        float: right;

        margin-right: 150px;
    }
    footer{
        margin-top: 420px;
    }
    .tex{
        width: 120px;

        margin-right: 150px;
        float: right;
    }
    .second{
        margin-left: 20px;
    }
    .third{
        margin-left: 20px;
    }
    .fourth{
        margin-left: 20px;
    }
    .fifth{
        margin-left: 20px;
    }
    .settings-zone {
        width: 500px;
        height: 400px;
        border: 2px #ccc;
        color: #007AA3;
        text-align: left;
        overflow-y:scroll;
    }
    .centered {
        background-color: #007AA3;
        color: white;
        width: 500px;
    }
    .fa{
        border: thick;
        width: 200px;
        margin-left: 40px;
        margin-top: 10px;
    }
    #treeLEFT{
        overflow-y: scroll; 
        height: 400px;
    }
    #url{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }